openapi: 3.2.0
info:
  title: Spike Application User SDK Push API
  description: Spike (Spike Technologies) unified health and wearables data API.
  version: 3.0.2
  contact:
    name: Spike Technologies
    url: https://www.spikeapi.com
servers:
- url: https://app-api.spikeapi.com/v3
  description: Spike Application User API
security:
- bearer: []
tags:
- name: SDK Push
  description: Ingest on-device health data pushed from the mobile SDKs.
paths:
  /providers/apple/push:
    post:
      operationId: pushAppleHealth
      tags:
      - SDK Push
      summary: Push Apple Health data
      description: Ingests Apple Health samples pushed from the Spike iOS SDK (JSON).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Data accepted for normalization.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /providers/health_connect/push:
    post:
      operationId: pushHealthConnect
      tags:
      - SDK Push
      summary: Push Android Health Connect data
      description: Ingests Android Health Connect samples pushed from the Spike Android SDK (JSON).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Data accepted for normalization.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /providers/samsung_health_data/push/proto:
    post:
      operationId: pushSamsungHealth
      tags:
      - SDK Push
      summary: Push Samsung Health data (protobuf)
      description: Ingests Samsung Health samples pushed from the Spike SDK as protobuf.
      requestBody:
        required: true
        content:
          application/x-protobuf:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Data accepted for normalization.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
