openapi: 3.2.0
info:
  title: Spike Application User Statistics API
  description: Spike (Spike Technologies) unified health and wearables data API.
  version: 3.0.2
  contact:
    name: Spike Technologies
    url: https://www.spikeapi.com
servers:
- url: https://app-api.spikeapi.com/v3
  description: Spike Application User API
security:
- bearer: []
tags:
- name: Statistics
  description: Query aggregated statistics for metrics over time.
paths:
  /queries/statistics/daily:
    get:
      operationId: queryStatisticsDaily
      tags:
      - Statistics
      summary: Daily Statistics
      description: Returns daily aggregated statistics for a metric over a time range.
      parameters:
      - $ref: '#/components/parameters/Metric'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      responses:
        '200':
          description: Daily statistics.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /queries/statistics/interval:
    get:
      operationId: queryStatisticsInterval
      tags:
      - Statistics
      summary: Interval Statistics
      description: Returns statistics aggregated over a specified interval.
      parameters:
      - $ref: '#/components/parameters/Metric'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      responses:
        '200':
          description: Interval statistics.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /queries/statistics/interpolation:
    get:
      operationId: queryStatisticsInterpolation
      tags:
      - Statistics
      summary: Statistics by interpolation
      description: Returns interpolated statistics for a metric where gaps are filled between samples.
      parameters:
      - $ref: '#/components/parameters/Metric'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      responses:
        '200':
          description: Interpolated statistics.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  parameters:
    EndTime:
      name: end_time
      in: query
      required: false
      description: End of the query window (ISO 8601).
      schema:
        type: string
        format: date-time
    StartTime:
      name: start_time
      in: query
      required: false
      description: Start of the query window (ISO 8601).
      schema:
        type: string
        format: date-time
    Metric:
      name: metric
      in: query
      required: false
      description: Metric identifier - for example heartrate, heartrate_resting, hrv_rmssd, hrv_sdnn, glucose, weight, body_fat, spo2, breathing_rate, steps, distance, calories_burned, sleep_duration, sleep_efficiency.
      schema:
        type: string
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
